<% content_for :title do "Sign Up" end %>

<main id='new_user'>
    <p>Username must be 4 to 20 characters and cannot have spaces.</p>
    <p>Password must be at least 8 characters.</p>
    <p>Password must include at least one of these special characters: ~ ! @ # $ % ^ & * ( ) - _ + ? < ></p>
    <p>Password can only include the standard alphabet, numbers, and the specified special characters.</p>
    
    <main class="form">
        <h2>Sign Up</h2>
        <%= form_for @user do |f| %>
            <div>
                <%= f.label :username %>
                <%= f.label :email %>
                <%= f.label :password %>
                <%= label_tag :confirm_password, "Confirm Password" %>
            </div>
            <div>
                <%= f.text_field :username %>
                <%= f.text_field :email %>
                <%= f.password_field :password %>
                <%= password_field_tag :confirm_password %>
            </div>
            <p>
                <%= f.submit %>
            </p>
        <% end %>
    </main>
</main>
