<p>Username: <%= user.username %></p>
<p>Email: <%= user.email %></p>
<p>Created: <%= user.created_at.strftime("%B %d, %Y, %I:%M %p") %></p>
<% if user.created_at != user.updated_at %>
    <p>Updated: <%= user.updated_at.strftime("%B %d, %Y, %I:%M %p") %></p>
<% end %>

<% if user == current_user %>
    <%= link_to("Edit User", edit_user_path(user.id)) %>
    <%= link_to("Delete User", user_path(user.id), method: :delete) %>
<% end %>
