<main class="display_comment">
    <%= form_for comment do |f| %>
        <div>
            <%= f.text_area :body %>
        </div>
            <%= f.hidden_field :user_id, value: user.id %>
            <%= f.hidden_field :post_id, value: post.id %>
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</main>
