<% content_for :title do "Edit #{@post.title}" end %>

<main class="create_post">
    <h2>Edit Post "<%= @post.title %>"</h2>
    <%= form_for @post do |f| %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :body %>
        </div>
            <%= f.text_area :body %>
            <%= f.hidden_field(:user_id, value: @post.user_id)%>
        <p>
            <%= f.submit %>
        </p>
    <% end %>
</main>
