<% content_for :title do "#{@current_user.username}'s Posts'" end %>

<% if @posts.length == 0 %>
    <div class="post">Your Posts Will Display Here. Make a Post!</div>
<% end %>

<% @posts.each do |post|%>
    <div class="post">
        <p>Post <%= @post_number %>:</p>

        <%= render "shared/display_post", user: post.user, post: post %>

        <p><%= link_to 'Go To Post', post %></p>

        <%= render "shared/make_comment", comment: @comment, user: @current_user, post: post%>

        <% post.comments.each do |comment| %>
            <%= render "shared/display_comment", comment: comment, current_user: @current_user %>
        <% end %>
    </div>

    <% @post_number += 1 %>
<% end %>
